{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="keywords" content="kalixyu's space,IT,yellow,个人博客,KalixYu,52ziyu">
<meta name="author" content="KalixYu">
<!--<link rel="icon" href="images/logo.png">-->
<title>家庭记账本（Bate v0.0.1）</title>

<link rel="stylesheet" href="{% static 'main.css'%}">

</head>
<body>
<div class="head">
    <h1 align="center" style="padding: 5px;">家庭记账本</h1>
    <img src="{% static 'menu.jpg' %}" alt="" id="menu">
    <a href="{% url 'add' %}"><img src="{% static 'add.jpg' %}" alt="" id="add"></a>
</div>
    <ul style="display:none;" id="menu1">
        <li><a href="?classfy=income">收入</a></li>
        <li><a href="?classfy=expend">支出</a></li>
    </ul>

<div class="content">

    {% for billinfo in all_billinfo %}
    <div>
        {% if billinfo.type == 'expend' %}
        <div class="content_l cr">
        {% else %}
        <div class="content_l cg">
        {% endif %}
        <h1>
            {{ forloop.counter }}.
            {{ billinfo.classify.name }}
                <span style="float:right;margin-right: 20%;">￥<span class="money">{{ billinfo.money }}</span></span>
            </h1>
        </div>

        <input type="hidden" name="bill_id" value="{{ billinfo.id }}">
        <button style="float:right;" class="drop">删除</button>

        <div class="content_r">
            <h4>{{ billinfo.ps }}
                <span style="float:right;margin-right: 20%;">{{ billinfo.date }}</span>
            </h4>
        </div>
    <br><hr>
    </div>
    {% endfor %}


    </div>

<div id="account" style="float: left">合计:$<span>11</span></div>
</div>


    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(".drop").click(function () {
            var bill_id =  $(this).parent().find("input[name='bill_id']").val();
            console.log(bill_id);


            $.ajax({
                url: 'drop/',
                type: 'POST',
                data:{'bill_id': bill_id},
                success: function (date) {
                    console.log('ok');
                    window.location.reload();
                }
            })

        })
    </script>

<script>
    $('#menu').click(function () {
        $('#menu1').css('display','');
    });


</script>


</body>
</html>